# Locking ReSwift to this commit because we need some of the changes that
# have made it into master after version 3.0.0, but we can't rely on
# master's HEAD to be stable or not break this repo.
#
# TODO: Once the next version of ReSwift is shipped make sure to point ot
# it and update what's required.
github "iflix-letsplay/ReSwift" "swiftlint"
